.header-container {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
    opacity: 1;
}

.header-container.hidden {
    transform: translateY(-100%);
}

nav {
    width: 98%;
    display: flex;
    justify-content: space-between;

}

.header-logo {
    padding-top: 10px;
    flex-shrink: 0;
    width: 10%;
    display: flex;
    justify-content: flex-start;
}

.header-logo img {
    width: 130px;
    height: auto;
}

.menu {
    width: 60%;
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: space-between;
}

.submenu{
    width: 100%;
}

.menu-title a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    padding: 10px;
    color: inherit;
}

.menu-lists {
    display: none;  
    list-style-type: none;
    padding-left: 0;
    padding-top: 10px;
    margin-top: 10px;
    opacity: 0;
    height: 0px; 
}

.menu-lists.show {
    display: block; 
    opacity: 1;
}

.content {
    padding: 9px;
}

.content a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    color: inherit;
    font-weight: bold;
}

header:hover .menu-lists {
    display: block;
    opacity: 1;
}

.contact {
    display: flex;
    padding-top: 17px;
    border-radius: 5px;
    color: inherit;  
    opacity: 1;
}

.contact a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    height: 20px;
    text-align: center;
    padding: 7px 10px;
    border: 2px solid;
    border-radius: 5px;
    border-color: inherit;
}
